<%= form_with(model: announcement, local: true) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="input-field">
    <%= form.label :idAnnouncement %>
    <%= form.number_field :idAnnouncement, id: :announcement_idAnnouncement %>
  </div> -->

  <div class="input-field">
    <i class="material-icons prefix">access_time</i>
    <%= form.label :publicationDate %>
    <%= form.text_field :publicationDate, id: :announcement_publicationDate, class: "datepicker" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">access_alarm</i>
    <%= form.label :deadline %>
    <%= form.text_field :deadline, id: :announcement_deadline, class: "datepicker" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">info</i>
    <%= form.label :announcementType %>
    <%= form.text_area :announcementType, id: :announcement_announcementType %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">event</i>
    <%= form.label :announcementInformation %>
    <%= form.text_area :announcementInformation, id: :announcement_announcementInformation %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">accessibility</i>
    <%= form.label :person_id %>
    <%= form.number_field :person_id, id: :announcement_person_id %>
  </div>

  <div class="actions">
    <div class="center-align">
      <a class="btn waves-effect waves-light">
        <%= form.submit %>
      </a>
      <%= link_to 'Back', announcements_path, class:"btn waves-effect waves-light" %>
    </div>
  </div>
<% end %>
