<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Idannouncement</th>
      <th>Publicationdate</th>
      <th>Deadline</th>
      <th>Announcementtype</th>
      <th>Announcementinformation</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.idAnnouncement %></td>
        <td><%= announcement.publicationDate %></td>
        <td><%= announcement.deadline %></td>
        <td><%= announcement.announcementType %></td>
        <td><%= announcement.announcementInformation %></td>
        <td><%= announcement.person_id %></td>
        <td><%= link_to 'Show', announcement %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_announcement_path %>
