<p id="notice"><%= notice %></p>

<div class="container">
  <!-- <div class="col s10"> -->
    <div class="row">
      <div class="col s6">
        <p class="right-align">
          <h5>Fecha Publicacion: </h5>
          <%= @announcement.publicationDate %>
        </p>
      </div>

      <div class="col s6">
        <p class="left-align">
          <h5>Fecha Limite: </h5>
          <%= @announcement.deadline %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <p>
          <h5> Tipo de Oferta: </h5>
          <%= @announcement.announcementType %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <p>
          <h5>Informacion: </h5>
          <%= @announcement.announcementInformation %>
        </p>
      </div>
    </div>

    <strong>persona:</strong>
    <%= @announcement.person_id %>

  <!-- </div> -->
</div>

<div class="col s10">
  <div class="center-align">
    <%= link_to 'Edit', edit_announcement_path(@announcement), class:"btn waves-effect waves-light" %>
    <%= link_to 'Back', announcements_path, class:"btn waves-effect waves-light" %>
  </div>
</div>
