<p id="notice"><%= notice %></p>

<p>
  <strong>Idannouncement:</strong>
  <%= @announcement.idAnnouncement %>
</p>

<p>
  <strong>Idgovernor:</strong>
  <%= @announcement.idGovernor %>
</p>

<p>
  <strong>Publicationdate:</strong>
  <%= @announcement.publicationDate %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @announcement.deadline %>
</p>

<p>
  <strong>Announcementtype:</strong>
  <%= @announcement.announcementType %>
</p>

<p>
  <strong>Announcementinformation:</strong>
  <%= @announcement.announcementInformation %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
