<%= form_with(model: cabildo, local: true) do |form| %>
  <% if cabildo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cabildo.errors.count, "error") %> prohibited this cabildo from being saved:</h2>

      <ul>
      <% cabildo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cabildo_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :cabildo_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :cabildo_phone %>
  </div>

  <div class="field">
    <%= form.label :workGroup %>
    <%= form.text_field :workGroup, id: :cabildo_workGroup %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
