<p id="notice"><%= notice %></p>

<p>
  <strong>Idopinion:</strong>
  <%= @opinion.idOpinion %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @opinion.interest %>
</p>

<p>
  <strong>Socialorganization:</strong>
  <%= @opinion.socialOrganization %>
</p>

<p>
  <strong>Groupsparticipation:</strong>
  <%= @opinion.groupsParticipation %>
</p>

<p>
  <strong>Workgroupdecision:</strong>
  <%= @opinion.workGroupDecision %>
</p>

<p>
  <strong>Ideas:</strong>
  <%= @opinion.ideas %>
</p>

<p>
  <strong>Activitiesparticipatedbogota:</strong>
  <%= @opinion.activitiesParticipatedBogota %>
</p>

<p>
  <strong>Whatisparticipating:</strong>
  <%= @opinion.whatIsParticipating %>
</p>

<p>
  <strong>Rightsmechanisms:</strong>
  <%= @opinion.rightsMechanisms %>
</p>

<p>
  <strong>Districtparticipation:</strong>
  <%= @opinion.districtParticipation %>
</p>

<p>
  <strong>Reasonparticipation:</strong>
  <%= @opinion.reasonParticipation %>
</p>

<p>
  <strong>Reasonnoparticipation:</strong>
  <%= @opinion.reasonNoParticipation %>
</p>

<p>
  <strong>Adviceonparticipation:</strong>
  <%= @opinion.adviceOnParticipation %>
</p>

<p>
  <strong>Training:</strong>
  <%= @opinion.training %>
</p>

<p>
  <strong>Trainingtheme:</strong>
  <%= @opinion.trainingTheme %>
</p>

<p>
  <strong>Cabildotrust:</strong>
  <%= @opinion.cabildoTrust %>
</p>

<p>
  <strong>Trustlocalgovernment:</strong>
  <%= @opinion.trustLocalGovernment %>
</p>

<p>
  <strong>Trustnationalgovernment:</strong>
  <%= @opinion.trustNationalGovernment %>
</p>

<p>
  <strong>Trustongfoundation:</strong>
  <%= @opinion.trustONGfoundation %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
