<p id="notice"><%= notice %></p>

<p>
  <strong>Idchild:</strong>
  <%= @child.idChild %>
</p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @child.age %>
</p>

<p>
  <strong>Censo:</strong>
  <%= @child.censo_id %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
