<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">

      <div class="center-align">
          <%= link_to image_tag("escudo.png", height: "200"), :root %>
      </div>

      <h2 class="center-align">Editar Perfil</h2>

      <% if !current_user.try(:provider?) %>


        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(deje en blanco si no desea cambiarlo)</i><br />
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> caracteres mínimo</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(necesitamos su contraseña actual para confirmar sus cambios)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
          <div class="center-align">
            <div class="actions btn waves-effect waves-light center-align">
              <%= f.submit "Actualizar" %>
            </div>
          </div>

        <% end %>
      <% end %>

      <div class="center-align">
        <div class="actions btn waves-effect waves-light center-align">
          <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "estas seguro?" }, method: :delete %></p>
        </div>
      </div>

      <%= link_to "Atras", root_path %>
      </div>
  </div>
</div>
