<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="center-align">
        <%= link_to image_tag("escudo.png", height: "200"), root_path %>
        <h2>Regístrate</h2>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- social networks -->
    <div class="col m6">
      <div class="center-align col m8 offset-m2">
        <%= link_to (fa_icon "facebook-official", class: "col s2") + "Seguir con facebook" ,
          user_facebook_omniauth_authorize_path,
          class: 'indigo darken-3 col s12 waves-effect waves-light btn-large'
        %>
        <%= link_to (fa_icon 'google-plus-square', class: "col s2") + "Seguir con Google" ,
          user_facebook_omniauth_authorize_path,
          class: 'red darken-3 col s12 waves-effect waves-light btn-large'
        %>
      </div>
    </div>

    <div class="col s6 z-depth-5">
      <div class="card-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email, 'Correo electrónico:' %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password, 'Contraseña:' %>
            <% if @minimum_password_length %>
              <p>Minimo <%= @minimum_password_length %> caracteres.</p>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, 'Confirmación de la contraseña:' %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <div class="center-align">
            <div class="actions btn waves-effect waves-light center-align">
              <%= f.submit "Regístrate" %>
            </div>
          </div>
        <% end %>

      </div>
    </div>


    </div>
  </div>
</div>
