<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <i class="material-icons prefix">credit_card</i>
    <%= form.label :documentPerson, "N° Documento" %>
    <%= form.number_field :documentPerson, id: :person_documentPerson %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">card_membership</i>
    <%= form.label :documentType, "Tipo Documento" %>
    <%= form.text_field :documentType, id: :person_documentType %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">accessibility</i>
    <%= form.label :firstname, "Nombre" %>
    <%= form.text_field :firstname, id: :person_name %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">directions_walk</i>
    <%= form.label :lastname, "Apellido" %>
    <%= form.text_field :lastname, id: :person_lastname %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">access_time</i>
    <%= form.label :birthDate, "Fecha de Nacimiento" %>
    <%= form.text_field :birthDate, id: :person_birthDate, class: "datepicker" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">supervisor_account</i>
    <%= form.label :civilStatus, "Estado Civil" %>
    <%= form.text_field :civilStatus, id: :person_civilStatus %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">wc</i>
    <%= form.label :gender, "Genero" %>
    <%= form.text_field :gender, id: :person_gender %>
  </div>

  <div class="input">
    <%= form.check_box :isCensus, id: :person_isCensus, class:"filled-in" %>
    <%= form.label :isCensus, "Esta_censado?" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">record_voice_over</i>
    <%= form.label :originLanguage, "Lengua de Origen" %>
    <%= form.text_field :originLanguage, id: :person_originLanguage %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">hearing</i>
    <%= form.label :languageDomination, "Dominio de Lenguaje" %>
    <%= form.text_field :languageDomination, id: :person_languageDomination %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">verified_user</i>
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :person_user_id %>
  </div>

  <div class="actions center-align">
    <%= link_to 'Atrás', people_path, class:"btn waves-effect waves-light" %>
    <%= form.submit 'Crear Persona',class: "btn waves-effect waves-light" %>
  </div>
<% end %>
