<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <i class="material-icons prefix">credit_card</i>
    <%= form.label :documentPerson, "N° Documento", class:"active" %>
    <%= form.number_field :documentPerson, id: :person_documentPerson %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">card_membership</i>
    <%= form.label :documentType, "Tipo Documento", class:"active" %>
    <%= form.text_field :documentType, id: :person_documentType %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">accessibility</i>
    <%= form.label :firstname, "Nombre", class:"active" %>
    <%= form.text_field :name, id: :person_name %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">directions_walk</i>
    <%= form.label :lastname, "Apellido", class:"active" %>
    <%= form.text_field :lastname, id: :person_lastname %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">access_time</i>
    <%= form.label :birthDate, "Fecha de Nacimiento", class:"active" %>
    <%= form.text_field :birthDate, id: :person_birthDate, class: "datepicker" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">supervisor_account</i>
    <%= form.label :civilStatus, "Estado Civil", class:"active" %>
    <%= form.text_field :civilStatus, id: :person_civilStatus %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">wc</i>
    <%= form.label :gender, "Genero", class:"active" %>
    <%= form.text_field :gender, id: :person_gender %>
  </div>

  <div class="input">
    <%= form.check_box :isCensus, id: :person_isCensus, class:"filled-in" %>
    <%= form.label :isCensus, "Esta_censado?" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">record_voice_over</i>
    <%= form.label :originLanguage, "Lengua de Origen", class:"active" %>
    <%= form.text_field :originLanguage, id: :person_originLanguage %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">hearing</i>
    <%= form.label :languageDomination, "Dominio de Lenguaje", class:"active" %>
    <%= form.text_field :languageDomination, id: :person_languageDomination %>
  </div>

  <% unless current_user.try(:admin?) %>
    <div class="input-field">
      <i class="material-icons prefix">verified_user</i>
      <%= form.label :user_id %>
      <%= form.number_field :user_id, id: :person_user_id,:value => current_user.id, readonly: true  %>
    </div>

  <%else%>
    <div class="input-field">
      <i class="material-icons prefix">verified_user</i>
      <%= form.label :user_id %>
      <%= form.number_field :user_id, id: :person_user_id, readonly: true %>
    </div>
  <% end %>

  <div class="actions center-align">
    <% if current_user.try(:admin?) %>
      <%= link_to 'Atrás', people_path, class:"btn waves-effect waves-light" %>
    <% else %>
      <%= link_to 'Atrás', root_path, class:"btn waves-effect waves-light" %>
    <% end %>
    <%= form.submit 'Actualizar',class: "btn waves-effect waves-light" %>
  </div>
<% end %>
