<div class="container">
  <div class="row">
    <table class="striped">
      <thead>
        <tr>
          <th>Documento:</th>
          <th>Tipo Documento:</th>
          <th>Nombre:</th>
          <th>Apellido:</th>
          <th>Fecha Nacimiento:</th>
          <th>Estado Civil:</th>
          <th>Genero:</th>
          <th>Esta Censado?</th>
          <th>Lengua Origen:</th>
          <th>Dominio Lengua</th>
          <th>User:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @person.documentPerson %></td>
          <td><%= @person.documentType %></td>
          <td><%= @person.name %></td>
          <td><%= @person.lastname %></td>
          <td><%= @person.birthDate %></td>
          <td><%= @person.civilStatus %></td>
          <td><%= @person.gender %></td>
          <td><%= @person.isCensus %></td>
          <td><%= @person.originLanguage %></td>
          <td><%= @person.languageDomination %></td>
          <td><%= @person.user_id %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col s10">
  <div class="center-align">
    <%= link_to 'Editar', edit_person_path(@person.id), class:"btn waves-effect waves-light" %>
    <% unless current_user.try(:admin?) %>
      <%= link_to 'Atrás', root_path, class:"btn waves-effect waves-light" %>
    <% else %>
      <%= link_to 'Atrás', people_path, class:"btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
