<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @person.document %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @person.birthDate %>
</p>

<p>
  <strong>Civilstatus:</strong>
  <%= @person.civilStatus %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Originlanguage:</strong>
  <%= @person.originLanguage %>
</p>

<p>
  <strong>Domainlanguage:</strong>
  <%= @person.domainLanguage %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
