<% if @average_age == 0 %>

  <%= render 'anything_people' %>

<% else %>

  <%= render 'navbar' %>

  <div class="container">
    <div class="row">
      <h3 class="center-align z-depth-2">
        <div class="card-form">
          <%= fa_icon "map-marker" %><br />
          Numeros de personas por localidad
        </div>
      </h3>


      <div class="container">
        <%= pie_chart @data, download: true %>
      </div>

    </div>
    <div class="row">
      <h3 class="center-align z-depth-2">
        <div class="card-form">
          Datos
        </div>
      </h3>
      <div class="col s12">
        <table class="striped responsive-table centered">
          <thead>
            <tr>
              <th>Localidad</th>
              <th>Personas</th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |key, value| %>
              <tr>
                <td><%= key  %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>



<% end %>
