<% if @health_service.empty? %>

  <%= render 'anything_people' %>

<% else %>

  <%= render 'navbar' %>

  <div class="container">
    <div class="row">
      <div class="col s12 z-depth-2 ">
        <div class="card-form center-align">
          <%= fa_icon "medkit 4x" %>
          <h5>
            Cantidad de personas con entidades de salud que estan censadas
          </h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= pie_chart @health_service, donut: true, download: true  %>

        <table class="striped responsive-table centered">
          <thead>
            <tr>
              <th>Nombre entidad salud </th>
              <th>Numero de personas censadas afiliadas</th>
            </tr>
          </thead>

          <tbody>
            <% @health_service.each do |key, value| %>
              <tr>
                <td><%= "#{key}"  %></td>
                <td><%= "#{value}" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
