<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>

    <% if @num_person_censo == 0 %>

        <div class="container">
          <div class="row">
            <div class="col m3"></div>
            <div class="col m7">
              <h5 class="center-align">
                No existen personas censadas aun
              </h5>
            </div>

          </div>
          <%= link_to 'Atras', root_path %>
        </div>

    <% else %>
    <div class="containner">
        <div class="row">
            <div class="col m2"></div>
            <div class="col m3">
                <ul class="nav">
                    <%= link_to "Total censo", statistics_total_path, class: "waves-effect waves-light btn sub" %>
                    <%= link_to "Número de hijos", statistics_children_path, class: "waves-effect waves-light  btn sub" %>
                    <%= link_to "servicio de salud", statistics_health_path, class: "waves-effect waves-light btn sub  " %>

                    <%= link_to "Promedio de edad", statistics_average_path, class: "waves-effect waves-light btn sub  " %>
                </ul>
            </div>
            <div class="col m5">
              <ul class="center-align collection with-header">
                  <li id="collect-h" class="collection-header"> <i class="material-icons">date_range</i><h5>Personas en el censo</h5></li>
                  <li id="collect-item" class="collection-item">
                    <%= @num_person_censo %>
                  </li>
              </ul>
            </div>
        </div>
    </div>

    <% end %>

  <% end %>
<% end %>
