<% if user_signed_in? and
      !current_page?(new_contact_path) and
      !current_page?(contacts_path) and
      !current_page?(contacts_path) and
      !current_page?(edit_user_registration_path)
%>
  <% if current_user.try(:admin?) %>
    <!-- is admin -->
    <div class="container col s12 m12 l12">
      <div class="row">
        <%= link_to "Inicio", root_path, class: "waves-effect waves-light btn col s1 m1 l1" %>
        <%= link_to "Mapa", residences_index_path, class: "waves-effect waves-light btn col s1 m1 l1" %>
        <%= link_to "Certificado", new_certificate_path, class: "waves-effect waves-light btn col s1.5 m1.5 l1.5" %>
        <%= link_to "Eventos", events_path, class: "waves-effect waves-light btn col s1 m1 l1" %>
        <%= link_to "Empleo", announcements_path, class: "waves-effect waves-light btn col s1 m1 l1" %>
        <%= link_to "Censo", censos_path, class: "waves-effect waves-light btn col s1 m1 l1" %>
        <%= link_to "Votación", elections_path, class: "waves-effect waves-light btn col s1.5 m1.5 l1.5" %>
        <%= link_to "Estadisticas", statistics_total_path, class: "waves-effect waves-light btn col s1.5 m1.5 l1.5" %>
        <%= link_to "Correos", newsletters_path, class: "waves-effect waves-light btn col s1 m1 l1" %>
        <%= link_to "Datos Personales", people_path, class: "waves-effect waves-light btn col s1 m1 l1" %>
      </div>
    </div>

  <% else %>

    <!-- is user -->
    <div class="container">
      <div class="row">
        <%= link_to "Inicio", root_path, class: "waves-effect waves-light btn col m1" %>
        <%= link_to "Solicitud censo", new_request_censo_path, class: "waves-effect waves-light btn col m2" %>
        <%= link_to "Certificado", new_certificate_path, class: "waves-effect waves-light btn col m2" %>
        <%= link_to "Eventos", events_path, class: "waves-effect waves-light btn col m2" %>
        <%= link_to "Empleo", announcements_path, class: "waves-effect waves-light btn col m1" %>
        <%= link_to "Votación", new_vote_path, class: "waves-effect waves-light btn col m2" %>
        <% if Person.my_id.empty?  %>
          <%= link_to "Datos Personales", new_person_path, class: "waves-effect waves-light btn col m2" %>
        <% else %>
          <%= link_to "Datos Personales", edit_person_path(Person.my_id.first.id), class: "waves-effect waves-light btn col m2" %>
        <% end %>
      </div>
    </div>

  <% end %>

<% end %>
