<% if user_signed_in? and
      !current_page?(new_contact_path) and
      !current_page?(contacts_path) and
      !current_page?(contacts_path) and
      !current_page?(edit_user_registration_path)
%>
  <% if current_user.try(:admin?) %>
    <!-- is admin -->
    <div class="container">
      <div class="row">
        <%= link_to "Inicio", root_path, class: "waves-effect waves-light btn col m2" %>
        <%= link_to "Mapa", residences_path, class: "waves-effect waves-light btn col m1" %>
        <%= link_to "Certificado", new_certificate_path, class: "waves-effect waves-light btn col m2" %>
        <%= link_to "Eventos", events_path, class: "waves-effect waves-light btn col m2" %>
        <%= link_to "Empleo", announcements_path, class: "waves-effect waves-light btn col m2" %>
        <%= link_to "Censos", censos_path, class: "waves-effect waves-light btn col m1" %>
        <%= link_to "Estadisticas", statistics_total_path, class: "waves-effect waves-light btn col m2" %>
      </div>
    </div>

  <% else %>

    <!-- is user -->
    <div class="container">
      <div class="row">
        <%= link_to "Inicio", root_path, class: "waves-effect waves-light btn col m4" %>
        <%= link_to "Eventos", events_path, class: "waves-effect waves-light btn col m4" %>
        <%= link_to "Empleo", announcements_path, class: "waves-effect waves-light btn col m4" %>
        <!-- <a class="waves-effect waves-teal btn-flat">Button</a>
        <a class="waves-effect waves-light btn col m4">Inicio</a>
        <a class="waves-effect waves-light btn col m4">Empleos</a>
        <a class="waves-effect waves-light btn col m4">Eventos</a> -->
      </div>
    </div>

  <% end %>

<% end %>
