
<nav role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">SI Pastos</a>
    <ul class="right hide-on-med-and-down">
      <li><p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %><li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'navbar-link' %><li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>
        <li><%= link_to "Contáctanos", new_contact_path %></li>
      </p></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
