<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <i class="material-icons prefix">accessibility</i>
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="input">
    <i class="material-icons prefix">access_time</i>
    <%= form.label :date %>
    <%= form.text_field :date, id: :event_date, class: "datepicker" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">chevron_right</i>
    <%= form.label :eventType %>
    <%= form.text_field :eventType, id: :event_eventType %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">chevron_right</i>
    <%= form.label :eventInfo %>
    <%= form.text_area :eventInfo, id: :event_eventInfo,  class: "materialize-textarea" %>
  </div>

  <div class='disable_input'>
    <%= form.label :person_id %>
    <%= form.number_field :person_id, id: :event_person_id, value: 1, :disabled => true %>
  </div>

  <div class="actions">
    <a class="btn waves-effect waves-light">
      <%= form.submit %>
    </a>
  </div>

<% end %>
