<div class="container">
  <h2 class="center-align">Eventos de la comunidad</h2>
</div>
<div class="divider"></div>

<div class="row">
  <div class="container">
    <% if current_user.try(:admin?) %>
      <div class="col m12">
        <h5 class="center-align">
            <%= link_to 'Nuevo Evento', new_event_path, class: "btn waves-effect waves-light" %>
        </h5>
      </div>
    <% end %>

    <div class="col m12">

      <table class="striped">
        <thead>
          <tr>
            <th>Npmbre</th>
            <th>Fecha</th>
            <th>Tipo de Evento</th>
            <th>Información del Evento</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date %></td>
              <td><%= event.eventType %></td>
              <td><%= event.eventInfo %></td>
              <td><%= link_to (fa_icon "pencil"), event %></td>
              <% if current_user.try(:admin?) %>
                <td><%= link_to (fa_icon "eye"), edit_event_path(event) %></td>
                <td><%= link_to (fa_icon "times"), event, method: :delete, data: { confirm: '¿esta seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

</div>
<div class="center-align">
  <%= will_paginate @events,  renderer: MaterializePagination::Rails %>
</div>

<br>
