<div class="container">

    <div class="row">
      <div class="col s6">
        <p class="right-align">
          <h5>Nombre</h5>
          <%= @event.name %>
        </p>
      </div>

      <div class="col s6">
        <p class="left-align">
          <h5>Fecha </h5>
          <%= @event.date %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <p>
          <h5>Evento </h5>
          <%= @event.eventType %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <p>
          <h5>Información: </h5>
          <%= @event.eventInfo  %>
        </p>
      </div>
    </div>
</div>

<div class="col s10">
  <div class="center-align">
    <%= link_to 'Atras', events_path, class:"btn waves-effect waves-light" %>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Editar', edit_event_path(@event), class:"btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
