<p id="notice"><%= notice %></p>

<p>
  <strong>Idgovernor:</strong>
  <%= @event.idGovernor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Eventtype:</strong>
  <%= @event.eventType %>
</p>

<p>
  <strong>Eventinfo:</strong>
  <%= @event.eventInfo %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
