<%= form_with(model: election, local: true) do |form| %>
  <% if election.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(election.errors.count, "error") %> prohibited this election from being saved:</h2>

      <ul>
      <% election.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="input-field">
    <i class="material-icons prefix">access_time</i>
    <%= form.label :date, "Fecha", class: 'active' %>
    <%= form.text_field :date, id: :election_date, class: "datepicker" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">stars</i>
    <%= form.label :winner, "Ganador", class: 'active' %>
    <%= form.text_field :winner, id: :election_winner %>
  </div>

  <div class="input-field">
      <i class="material-icons prefix">picture_in_picture</i>
     <%= form.label :candidate_id, "id del candidato", class: 'active' %>
    <%= form.text_field :candidate_id, id: :election_candidate_id %>
  </div>


  <div class="actions center-align">
      <%= link_to 'Atrás', elections_path, class:"btn waves-effect waves-light" %>
      <%= form.submit (current_page?(new_election_path) ? 'Crear' : 'Editar') + ' Eleccion',
      class: "btn waves-effect waves-light" %>
  </div>
<% end %>
