<p id="notice"><%= notice %></p>

<p>
  <strong>Idelection:</strong>
  <%= @election.idElection %>
</p>

<p>
  <strong>Date:</strong>
  <%= @election.date %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @election.winner %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @election.candidate_id %>
</p>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
