<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <div class="container">
      <div class="row">
        <div class="col m12">
          <h3 class="header center-align">Votación Gobernador </h3>
        </div>
      </div>
      <div class="row">
        <div class="card horizontal z-depth-5">
          <div class="card-form col m12">

            <% @candidates.each do |candidate| %>
            <div class="card-stacked col s3 m3 l3.">
              <div class="card-content">
                <div class="card horizontal z-depth-10">
                   <img src="" alt="img">
                </div>


                <%unless candidate.firstname == "Voto" %>
                    <p><strong>Nombre</strong> <%= candidate.firstname %></p>
                    <p><strong>Apellido</strong> <%= candidate.lastname %></p>
                <%else%>
                <h5 class="header center-align">Voto en blanco </h5>


                <%end%>
                    <% if current_user.try(:admin?) %>
                        <p><strong>Voto</strong> <%= candidate.votes %></p>
                    <%else%>
                        <%= link_to 'votar', elections_path, class:"btn waves-effect waves-light" %>
                    <%end%>

              </div>
             </div>
             <% end %>
             </div>
            </div>
         </div><!-- .row -->

              <div class="card-action">
                <div class="center-align">
                 <%= link_to 'Atras', :back, class:"btn waves-effect waves-light" %>
                <!-- <%= link_to 'Finalizar elección', class:"btn waves-effect waves-light" %> -->

                </div>
              </div>
    </div>  <!-- .container -->
    <%end%>
<%end%>
