<p id="notice"><%= notice %></p>

<p>
  <strong>Votes:</strong>
  <%= @candidate.votes %>
</p>

<p>
  <strong>Person:</strong>
  <%= @candidate.person_id %>
</p>

<p>
  <strong>id eleccion:</strong>
  <%= @candidate.election_id %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', elections_path %>
