<%= form_with(model: censo, local: true) do |form| %>
  <% if censo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(censo.errors.count, "error") %> prohibited this censo from being saved:</h2>

      <ul>
      <% censo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <i class="material-icons prefix">access_time</i>
    <%= form.label :date, "Fecha" %>
    <%= form.text_field :date, id: :censo_date, class: "datepicker" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">child_care</i>
    <%= form.label :numberOfChildren, "Numero de Hijos" %>
    <%= form.number_field :numberOfChildren, id: :censo_numberOfChildren %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">group</i>
    <%= form.label :originResguardo, "Resguardo de Origen" %>
    <%= form.text_field :originResguardo, id: :censo_originResguardo %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">book</i>
    <%= form.label :levelStudies, "Nivel de Estudios" %>
    <%= form.text_field :levelStudies, id: :censo_levelStudies %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">business</i>
    <%= form.label :profession, "Profesión" %>
    <%= form.text_field :profession, id: :censo_profession %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">attach_money</i>
    <%= form.label :entry, "Ingresos" %>
    <%= form.text_field :entry, id: :censo_entry %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <%= form.label :person_id %>
    <%= form.number_field :person_id, id: :censo_person_id %>
  </div>

  <div class="actions center-align">
    <%= link_to 'Atrás', censos_path, class:"btn waves-effect waves-light" %>
    <%= form.submit 'Crear Censo' ,class: "btn waves-effect waves-light" %>
  </div>
<% end %>
