<%= form_with(model: censo, local: true) do |form| %>
  <% if censo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(censo.errors.count, "error") %> prohibited this censo from being saved:</h2>

      <ul>
      <% censo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <i class="material-icons prefix">group</i>
    <%= form.label :originResguardo, "Resguardo de Origen", class: 'active' %>
    <%= form.text_field :originResguardo, id: :censo_originResguardo %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">book</i>
    <%= form.label :levelStudies, "Nivel de Estudios", class: 'active' %>
    <%= form.text_field :levelStudies, id: :censo_levelStudies %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">business</i>
    <%= form.label :profession, "Profesión", class: 'active' %>
    <%= form.text_field :profession, id: :censo_profession %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">attach_money</i>
    <%= form.label :entry, "Ingresos", class: 'active' %>
    <%= form.text_field :entry, id: :censo_entry %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">healing</i>
    <%= form.label :health_service, "Servicio de salud", class: 'active' %>
    <%= form.text_field :health_service, id: :censo_health_service %>
  </div>

  <div class="actions center-align">    
    <%= form.submit 'Siguiente' ,class: "btn waves-effect waves-light" %>
  </div>
<% end %>
