<p id="notice"><%= notice %></p>

<div class="container">

  <p>
    <strong>Person:</strong>
    <%= @censo.person_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @censo.date %>
  </p>

  <div class="row">

    <table class="striped">
     <thead>
        <tr>
          <th>N° Hijos:</th>
          <th>Resguardo Origen:</th>
          <th>Nivel de Estudios:</th>
          <th>Profesión:</th>
          <th>Ingresos:</th>
          <th colspan="3"></th>

        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @censo.numberOfChildren %></td>
          <td><%= @censo.originResguardo %></td>
          <td><%= @censo.levelStudies %></td>
          <td><%= @censo.profession %></td>
          <td><%= @censo.entry %></td>
        </tr>
      </tbody>
    </table>
    <!-- fgffdfgdr
    <div class="col s2">
      <strong>N° Hijos:</strong>
      <%= @censo.numberOfChildren %>
    </div>

    <div class="col s3">
      <strong>Resguardo Origen:</strong>
      <%= @censo.originResguardo %>
    </div>

    <div class="col s3">
      <strong>Nivel de Estudios:</strong>
      <%= @censo.levelStudies %>
    </div>

    <div class="col s2">
      <strong>Profesión:</strong>
      <%= @censo.profession %>
    </div>

    <div class="col s2">
      <strong>Ingresos:</strong>
      <%= @censo.entry %>
    </div>
    -->

  </div>


</div>


<div class="col s10">
  <div class="center-align">
    <% if current_user.try(:admin?) %>
      <%= link_to 'Atrás', censos_path, class:"btn waves-effect waves-light" %>
      <%= link_to 'Editar', edit_censo_path(@censo), class:"btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
