<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @censo.date %>
</p>

<p>
  <strong>Numberofchildren:</strong>
  <%= @censo.numberOfChildren %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @censo.gender %>
</p>

<p>
  <strong>Agechildren:</strong>
  <%= @censo.ageChildren %>
</p>

<p>
  <strong>Originresguardo:</strong>
  <%= @censo.originResguardo %>
</p>

<p>
  <strong>Levelstudies:</strong>
  <%= @censo.levelStudies %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @censo.profession %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @censo.entry %>
</p>

<%= link_to 'Edit', edit_censo_path(@censo) %> |
<%= link_to 'Back', censos_path %>
