<div class="container">
  <div class="row">
    <h2 class="center-align">Se llenaron los siguientes campos</h2>
  </div>

  <div class="row">
    <div class="col s8 offset-s2 z-depth-5">
      <table class="bordered centered highlight responsive-table">
        <tbody>
          <tr>
            <td><strong>Resguardo Origen:</strong></td>
            <td><%= @censo.originResguardo %></td>
          </tr>
          <tr>
            <td><strong>Nivel de Estudios:</strong></td>
            <td><%= @censo.levelStudies %></td>
          </tr>
          <tr>
            <td><strong>Nivel de Estudios:</strong></td>
            <td><%= @censo.levelStudies %></td>
          </tr>
          <tr>
            <td><strong>Servicio de Salud:</strong></td>
            <td><%= @censo.health_service %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="center-align">
    <%= link_to 'Editar', edit_censo_path(@censo), class:"btn waves-effect waves-light" %>
    <%= link_to 'Siguiente', children_path, class:"btn waves-effect waves-light" %>
  </div>

</div>
