<%= form_with(model: health_service, local: true) do |form| %>
  <% if health_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health_service.errors.count, "error") %> prohibited this health_service from being saved:</h2>

      <ul>
      <% health_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idHealthService %>
    <%= form.number_field :idHealthService, id: :health_service_idHealthService %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :health_service_name %>
  </div>

  <div class="field">
    <%= form.label :censo_id %>
    <%= form.number_field :censo_id, id: :health_service_censo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
