
<div class="container">

  <div class="row">
    <div class="col s12">
      <div class="center-align">
        <%= link_to image_tag("escudo.png", height: "200"), root_path, class: 'responsive-img' %>
        <h2>Iniciar sesión</h2>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- social networks -->
    <%= render 'devise/shared/social_networks' %>


    <!-- with email -->
    <div class="col l6 m10 offset-m1 s12 z-depth-5">

      <div class="card-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.label :email, 'Correo electrónico:' %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password, 'Contraseña:' %><br />
            <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "Recuérdame" %>
            </div>
          <% end -%>
          <div class="actions center-align">
            <%= f.button "Iniciar sesión", class: 'btn waves-effect waves-light' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
