<%= form_with(model: certificate, local: true) do |form| %>
  <% if certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field">
    <i class="material-icons prefix">chevron_right</i>
    <%= form.label :documentPerson, "Ingrese  Documento" %>
    <%= form.number_field :documentPerson, id: :certificate_documentPerson %>
  </div>

<% if current_user.try(:admin?) %>
      <div class="actions center-align">
        <%= button_tag type: 'submit', class: "waves-effect waves-light btn" do %>
            <h6>Buscar      <i class="material-icons">search</i> </h6>
        <% end %>

      </div>
 <% else %>
     <div class="input-field">
        <i class="material-icons prefix">email</i>
       <%=  form.email_field :email, id: :certificate_email, :value => current_user.email, readonly: true %>
    </div>
       <div class="actions center-align">
        <%= form.submit 'Solicitar', class: "btn waves-effect waves-light" %>
      </div>

    <% end %>


<% end %>
