<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <% if @dat.empty?%>

        <div class="container">
          <div class="row">
            <div class="col m3"></div>
            <div class="col m7">
              <h5 class="center-align">
                Esta persona  NO se encuentra en el censo
            </h5>
            </div>
            <div class="row">
                <div class="col m3"></div>
                <div class="col m7">
                  <h4 class="center-align ">
                      <%= link_to 'Atras', new_certificate_path, , class: "btn waves-effect waves-light" %>
                  </h4>
                </div>
            </div>
            </div>
            </div>




    <% else %>
      <div class="container">
          <div class="row">
              <div class="col m3"></div>
              <div class="col m7">
                <h5 class="center-align">
                    La persona identificada con <%= @dat.first.documentPerson%> se encuentra censada    </h5>
              </div>

              <div class="row">
                  <div class="col m3"></div>
                  <div class="col m7">
                    <h4 class="center-align ">
                         <%= link_to  'Descarga PDF',  certificate_path(format: :pdf), target:"_blank", class: "btn waves-effect waves-light" %>

                    </h4>
                  </div>
              </div>

        </div>
      </div>
    <% end %>

    <% else %>

        <% if @dat.empty?%>

            <div class="container">
              <div class="row">
                <div class="col m3"></div>
                <div class="col m7">
                  <h5 class="center-align">
                    Ud NO se encuentra censado
                </h5>
                </div>
                </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col m3"></div>
                        <div class="col m7">
                            <h4 class="center-align">
                                <%= link_to 'Solicitar Censo', new_request_censo_path, class: "btn waves-effect waves-light"%>
                            </h4>
                       </div>

                    </div>

                </div>

        <% else %>

        <div class="container">
          <div class="row">
            <div class="col m3"></div>
            <div class="col m7">
              <h5 class="center-align">
                Click en el boton para descargar certificado PDF
            </h5>
            </div>
            </div>

          <div class="container">
                  <div class="row">
                      <div class="col m3"></div>
                      <div class="col m7">
                        <h4 class="center-align ">
                             <%= link_to  'Descarga PDF',  certificate_path(format: :pdf), target:"_blank", class: "btn waves-effect waves-light" %>
                        </h4>
                      </div>
                  </div>
          </div>
        <% end %>



    <%end%>
<%end%>
