<%= form_with(model: residence, local: true) do |form| %>
  <% if residence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residence.errors.count, "error") %> prohibited this residence from being saved:</h2>

      <ul>
      <% residence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :address, 'Dirección', class: 'active' %>
    <%= form.text_field  :address, id: :residence_address, class: "materialize-textarea" %>
  </div>

  <div class="input-field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :residence_phone %>
  </div>

  <div class="input-field">
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood, id: :residence_neighborhood %>
  </div>

  <div class="input-field">
    <%= form.label :locality %>
    <%= form.text_field :locality, id: :residence_locality %>
  </div>

  <div class="input-field" style="display:none">
    <%= form.label :person_id %>
    <%= form.number_field :person_id, id: :residence_person_id %>
  </div>

  <div class="actions center-align">
    <%= form.submit 'Siguiente', class: 'waves-effect waves-light btn' %>
  </div>
<% end %>
