<div class="container">
  <div class="row">
    <h2 class="center-align">Se llenaron los siguientes datos</h2>
  </div>

  <div class="row">
    <div class="col s8 offset-s2">
      <table class="bordered centered highlight responsive-table z-depth-5">
        <tbody>
          <tr>
            <td><strong>Dirrección:</strong></td>
            <td><%= @residence.address %></td>
          </tr>
          <tr>
            <td><strong>Telefono:</strong></td>
            <td><%= @residence.phone %></td>
          </tr>
          <tr>
            <td><strong>Barrio:</strong></td>
            <td><%= @residence.neighborhood %></td>
          </tr>
          <tr>
            <td><strong>Localidad:</strong></td>
            <td><%= @residence.locality %></td>
          </tr>
        </tbody>
    </div>
  </div>

  </table>

  <div class="center-align">
    <%= link_to 'Editar', edit_residence_path(@residence), class: 'waves-effect waves-light btn-large' %>
    <%= link_to 'Siguiente', new_censo_path, class: 'waves-effect waves-light btn-large' %>
  </div>



</div>
