<%= form_with(model: governor, local: true) do |form| %>
  <% if governor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(governor.errors.count, "error") %> prohibited this governor from being saved:</h2>

      <ul>
      <% governor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :governor_name %>
  </div>

  <div class="field">
    <%= form.label :startgovermentperiod %>
    <%= form.date_select :startgovermentperiod, id: :governor_startgovermentperiod %>
  </div>

  <div class="field">
    <%= form.label :endgovermentperiod %>
    <%= form.date_select :endgovermentperiod, id: :governor_endgovermentperiod %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
