<!DOCTYPE html>
<html>
  <head>
    <title>SIPastos</title>
    <%= csrf_meta_tags %>
    <link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/navbar_users' %>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
    <%= javascript_include_tag :application %>

  </body>
</html>
