<!DOCTYPE html>
<html>
  <head>
    <title>SIPastos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <script>
        Materialize.toast("<%= alert %>", 3000, 'rounded');
      </script>
    <% end %>
    <% if notice %>
      <script>
        Materialize.toast("<%= notice %>", 3000, 'rounded');
      </script>
    <% end %>

    <%= render 'shared/navbar' %>
    <%= render 'shared/navbar_users' %>
    <main>
      <%= yield %>
    </main>
    <% cache do %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
